#info-box {
  display: flex;
  width: 760px;
  padding: 0 7em;
  margin-top: 2em;
}

div.ib-column:nth-of-type(2) {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

.ib-main,
.ib-caption {
  display: block;
  color: #2196F3;
}
.ib-main {
  font-size: 1.8em;
}

.ib-caption {
  font-size: .7em;
}

.ib-column {
  flex: 1;
}
