#graph-container {
  position: relative;
}

.linechart_path {
  stroke-width: 3;
  fill: none;
}
.linechart_axis {
  stroke: #bdc3c7;
  stroke-width: 1;
}

.linechart_area {
  fill: #2196F3;
  stroke: none;
  opacity: .4;
}

.linechart_point {
  fill: #fff;
}

.linechart {
  width: 760px;
  padding: 6em 7em 3em 7em;
}
